* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
 body{
   background-image: url(images/bg.jpg);
   background-size:cover;
   font-size:14px;
 }
 main{
   width: 1020px;
   height: 1400px;
   margin: auto;
   background-color: white;
   font-family: 'Bitter', serif;
 }
 #accueil a{
   text-decoration: none;
   color:#cfa205;
 }
 #accueil a:hover{
   color:white;
 }
.menu li{
  float: left;
  margin-left: 30px;
}
.menu {
  width: 70%;
  margin:auto;
  padding-top: 20px;
  list-style-type: none;
}

nav{
  background-color: black;
  width: 1020px;
  height: 60px;
  /*position: fixed;*/
}
.menu a{
  color : white;
  text-decoration: none;
}
.menu a:hover{
  color:#cfa205;
}

header{
  background-color: black;
  width: 1020px;
  height: 320px;
}
header h1{
  font-weight: lighter;
  padding-top: 50px;
  text-align: center;
  color:#cfa205;
  font-size:133px;
  font-family: 'Josefin Sans', sans-serif;
}
header h2{
  font-weight: lighter;
  padding-top: 80px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color:#cfa205;
}
#icones{
  width: 1020px;
  height: 60px;
  background-color: #e8e8e8;
}
#icones ul{
  margin-left: 35%;
  padding-top:9px;
}
#icones ul li {
  color:#7a7a7a;
  float: left;
  list-style-type: none;
  margin-left: 15px;
}
#icones ul li a{
  text-decoration: none;
  color:inherit;
}
#icones a:hover{
  color:#cfa205;
}
#resume{
  padding-top: 70px;
  width: 900px;
  height: 90px;
}
#resume p{
  text-align: center;
  color:#7a7a7a;
  font-weight: bolder;
  line-height: 20pt;
  font-size:17px;
  }

.article{
  padding-top: 80px;
  margin-left: 60px;
  float: left;
  width: 260px;
}
.article img{
  width: 260px;
  height: 195px;
  padding-bottom: 10px;
}
.article h1{
  padding-bottom: 10px;
}
.article p{
  font-size:13px;
  color:#7a7a7a;
}

.clear{
  clear:both;
}
.barre-grise{
  margin:auto;
  width: 900px;
  height:210px;
  border-bottom: solid 3px #e8e8e8;
}
.zoom{
  width: 100%;
  height: 100%;
}
.zoom img {
-webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}
.zoom:hover img {
-webkit-transform:scale(1.25); /* Safari et Chrome */
-moz-transform:scale(1.25); /* Firefox */
-ms-transform:scale(1.25); /* Internet Explorer 9 */
-o-transform:scale(1.25); /* Opera */
transform:scale(1.25);
}
